{% extends "plantillas/principal.html" %}
{% block titulo %}Titulo{% endblock %}
{% block username %}{{titulo}}{% endblock %}
{% block header%}
{% endblock %}
{% block menu %}
<li class="treeview">
    <a href="/usuarios/configuracion/">
        <i class="fa fa-pie-cog" aria-hidden="true"></i>
        <span>Consultar Propuesta</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
<li class="treeview">
    <a href="/usuarios/configuracion/">
        <i class="fa fa-pie-cog" aria-hidden="true"></i>
        <span>Consutar Trabajo de Grado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
<li class="treeview">
    <a href="/usuarios/configuracion/">
        <i class="fa fa-pie-cog" aria-hidden="true"></i>
        <span>Consultar Sustentaciones</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    {% endblock %}
    {% block contenido %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Trabajos de Grado a Cargo</h3>
        </div>
        <form class="form-horizontal" action="/usuarios/configuracion"
              method="POST"
              id="form-config">
            <div class="box-body">
                <div class="box-body">
                <h3 class="box-title">Trabajos</h3>
                </div>
                <table id="trabajoGradoN" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Estudiantes</th>
                  <th>Opciones</th>
                </tr>
                <tr>
                  <th>---</th>
                  <th>---</th>
                  <th>
                      <div class="btn-group ">
                  <button type="button" class="btn btn-default  btn-bitbucket">Opciones</button>
                  <button type="button" class="btn btn-default  btn-bitbucket dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Descargar</a></li>
                  </ul>
                      </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                </table>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Actualizar</button>
            </div>
        </form>
    </div>
    {% endblock
    %}