{% extends "plantillas/principal.html" %}
{% block titulo %}CTG | Configuracion{% endblock %}
{% block username %}{{usuario.getNombres()}}{% endblock %}
{% block nombreU %}{{usuario.getNombres()}}{% endblock %}
{% block informacionU %}
{{usuario.getNombres()}}
{{usuario.getTipoUsuario().getNombre()}}
{% endblock %}
{% block header%}
{% endblock %}

{% block menu %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Gestión Acta</span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/descargar-modificar_acta"><i class="fa fa-circle-o"></i> Descargar/Modificiar Acta</a>
        </li>
        <li><a href="/secretaria/registrar_acta"><i class="fa fa-circle-o"></i> Registrar Acta</a></li>
        <li><a href="/secretaria/consultar_acta"><i class="fa fa-circle-o"></i> Consultar Acta</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Gestión Propuesta</span>
        <span class="label label-primary pull-right"></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/consultar_propuesta"><i class="fa fa-circle-o"></i> Consultar Propuestas</a>
        </li>
        <li><a href="/secretaria/asignar_jurado_propuesta"><i class="fa fa-circle-o"></i> Asignar Jurado en
            Propuesta</a></li>
    </ul>
</li>
<li class="active treeview">
    <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Gestión Trabajo de Grado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/consultar_trabajo_de_grado"><i class="fa fa-circle-o"></i> Consultar Trabajo de
            Grado</a></li>
        <li><a href="/secretaria/agregar_datos_sustentacion"><i class="fa fa-circle-o"></i> Agregar datos
            Sustentación</a></li>
        <li class="active"><a href="/secretaria/asignar_jurados_trabajo"><i class="fa fa-circle-o"></i> Asignar Jurado</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Protocolos</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/registrar_protocolo"><i class="fa fa-circle-o"></i> Subir Archivo</a></li>
    </ul>
</li>

<li><a href="/secretaria/registrar/jurado"><i class="fa fa-book"></i> <span>Registrar Jurados</span></a>

</li>
<li class="treeview">
    <a href="/secretaria/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
{% endblock %}

    {% block contenido %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Configuraciones</h3>
        </div>
        <form class="form-horizontal" action="/secretaria/configuracion"
              method="POST"
              id="form-config">
            <div>
                <h3 class="box-title">Cambiar Contraseña</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12"
                           for="contrasena_a">Contraseña Actual: </label>
                    <div class="col-md-5 col-xs-12">
                        <input type="password" class="form-control" id="contrasena_a"
                               placeholder="Contraseña actual" name="contrasena_a">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12"
                           for="contrasena_n">Contraseña Nueva: </label>
                    <div class="col-md-5 col-xs-12">
                        <input type="password" class="form-control" id="contrasena_n"
                               placeholder="Contraseña Nueva" name="contrasena_n">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12"
                           for="contrasena_nc">Confirmar Contraseña Nueva: </label>
                    <div class="col-md-5 col-xs-12">
                        <input type="password" class="form-control" id="contrasena_nc"
                               placeholder=" Confirmar Contraseña Nueva" name="contrasena_nc">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a class="btn btn-default" href="/secretaria/home">Volver</a>
                <button type="submit" class="btn btn-info pull-right">Guardar
                    Cambios
                </button>
            </div>
        </form>
    </div>
    {% endblock
    %}
