{% extends "plantillas/principal.html" %}
{% block titulo %}Titulo{% endblock %}
{% block username %}{{titulo}}{% endblock %}

{% block menu %}

<ul class="sidebar-menu">
    <li class=" active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Consultar Trabajo De Grado</span> <i
                class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class=" treeview-menu">
             <li><a href="/coordinador/nombreT"><i class="fa fa-circle-o"></i> Nombre </a></li>
            <li class = "active" ><a href="/coordinador/modalidadT"><i class="fa fa-circle-o"></i> Modalidad </a></li>
            <li ><a href="/coordinador/juradoEstudiante"><i class="fa fa-circle-o"></i> Jurado o Estudiante </a></li>
            <li><a href="/coordinador/estadoT"><i class="fa fa-circle-o"></i> Estado </a></li>


        </ul>
    </li>

    <li >
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Consultar Propuesta</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/coordinador/nombreP"><i class="fa fa-circle-o"></i> Nombre </a></li>
            <li><a href="/coordinador/estadoP"><i class="fa fa-circle-o"></i> Estado </a></li>
            <li><a href="/coordinador/cancelarP"><i class="fa fa-circle-o"></i> Cancelar Propuesta </a></li>
        </ul>
    </li>


    <li >
        <a href="#">
            <i class="fa fa-dashboard"></i> <span> Consultar Acta</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/coordinador/consultarA"><i class="fa fa-circle-o"></i> Acta Por Fecha</a></li>
        </ul>
    </li>
</ul>
</li>
<li>
    <a href="/coordinador/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
</li>

{% endblock %}

{% block header %}


<h1>
    Consultar Trabajo de Grado
    <small>Coordinador</small>
</h1>
<ol class="breadcrumb">
    <li><a href="/coordinador/home"><i class="fa fa-dashboard"></i> Perfil</a></li>
    <li class="active">Consultas</li>
</ol>

{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-xs-5">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"> Consultar Por Modalidad </h3>
<br> </div>
            <form action="/coordinador/modalidadT" method="POST">
                <div class="form-group">
                  <select id="tipo_modalidad" name="tipo_modalidad" class="form-control"> >
                      <option value="" selected disabled> Modalidad... </option>
                    <option>Proyecto de Investigación</option>
                    <option>Monografía</option>
                      <option>Generación o aplicación de conocimientos</option>
                      <option>Sistematización de Conocimiento</option>
                      <option>Proyecto de Extensión</option>
                      <option>Trabajo Social</option>
                      <option>Labor de consultoría en aquellos proyectos donde la UFPS participa</option>
                      <option>Pasantía</option>
                      <option>Trabajo Dirigido</option>
                      <option>Cursos de Profundización.</option>
                  </select>
                </div>

                <div class="form-group">
                  <select id="año" name="trabajo_a" class="form-control"> >
                      <option value="" selected disabled> Año.... </option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                  </select>
                </div>

                    <button type="submit" class="btn btn-primary">Consultar<i class="fa fa-success"></i></button>

                </form>
            </div>
        </div>
    </div>


<section class="content">

    {% if trabajos %}
    <div class="box-header with-border">
        <div class="box-header with-border">


            <div class="row">
                <div class="col-xs-10">
                    <div class="box box-primary">
                        <div class="box-body">
                            <h3 class="box-title">Trabajos Encontradas</h3>
                        </div>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th>Titulo</th>
                                    <th>Director</th>
                                    <th>Modalidad</th>
                                    <th>Estado</th>
                                    <th>Nota</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for trabajo in trabajos %}
                                <tr>

                                    <td>{{trabajo.getTitulo()}}</td>
                                    <td>{{trabajo.getDirector_proyecto()}}</td>
                                    <td>{{trabajo.getModalidad()}}</td>
                                    <td>{{trabajo.getEstado()}}</td>
                                     <td>{{trabajo.getNota()}}</td>


                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <div class="alert alert-info">
            No se ha realizado  ninguna consulta.
        </div>
    </div>
    {% endif %}
</section>




{% endblock%}
