{% extends "plantillas/principal.html" %}
{% block titulo %}Titulo{% endblock %}
{% block username %}{{titulo}}{% endblock %}
{% block header%}
{% endblock %}
{% block menu %}

<ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Consultar Trabajo De Grado</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class=" treeview-menu">
            <li class = "active" ><a href="/coordinador/nombreT"><i class="fa fa-circle-o"></i>  Nombre </a></li>
            <li class><a href="modalidadT.html"><i class="fa fa-circle-o"></i>  Modalidad </a></li>
            <li><a href="juradoEstudiante.html"><i class="fa fa-circle-o"></i>  Jurado o Estudiante </a></li>
            <li><a href="estado.html"><i class="fa fa-circle-o"></i> Estado </a></li>


          </ul>
        </li>

 <li class="  treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Consultar Propuesta</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li ><a href="nombreP.html"><i class="fa fa-circle-o"></i>  Nombre </a></li>
            <li><a href="estadoP.html"><i class="fa fa-circle-o"></i> Estado </a></li>
            <li><a href="cancelarP.html"><i class="fa fa-circle-o"></i> Cancelar  Propuesta </a></li>
          </ul>
        </li>


         <li class=" treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Otras Consultas</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li ><a href="estudiantesM.html"><i class="fa fa-circle-o"></i> Estudiantes Por Modalidad</a></li>
            <li><a href="consultaA.html"><i class="fa fa-circle-o"></i> Acta Por Fecha</a></li>
          </ul>
        </li>
</ul>

 {% endblock %}
{% block contenido %}

 <div class="content-wrapper">

    <section class="content-header">

        <h1>
        Consultar Trabajo de Grado
        <small>Coordinador</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="principal.html"><i class="fa fa-dashboard"></i> Perfil</a></li>
        <li class="active">Consultas</li>
      </ol>

    </section>

<div class = "row">
          <div class= "col-xs-5">
             <div class = "box box-info">
               <div class="box-header with-border">
                 <h3 class="box-title"> Consultar Por Nombre </h3>


                    <div class="form-group">

                  <input type="text" class="form-control" id="nombreT" placeholder="Nombre...">
                </div>
         <button type="submit" class="btn btn-primary">Consultar<i class="fa fa-success"></i></button>

                </div>
               </div>
               </div>
                </div>
              </section>






      <section class="content">

          {% if trabajosDeGrado %}
     <div class="box-header with-border">
      <div class="box-header with-border">


      <div class = "row">
      <div class="col-xs-10">
          <div class="box box-primary">
            <div class="box-body">
              <h3 class="box-title">Trabajos Encontrados</h3>
            </div>
               <div class="box-body">
              <body id="trabajoGradoN" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Titulo</th>
                  <th>Modalidad</th>
                  <th>Estado</th>
                  <th>Estudiantes</th>
                  <th>Jurados</th>
                </tr>
                </thead>
                </body>

                   {% for trabajoDeGrado in trabajosDeGrado %}
                    <tr>
                  <th>{{trabajoDeGrado.getCodigo}}</th>
                  <th>{{trabajoDeGrado.getTitulo}}</th>
                  <th>{{trabajoDeGrado.getModalidad}}</th>
                  <th>{{trabajoDeGrado.Estado}}</th>
                  <th>{{trabajoDeGrado.Cod_estudiante1 <br>  </br>
                        trabajoDeGrado.Cod_estudiante2 <br>  </br>
                        trabajoDeGrado.Cod_estudiante3 <br>  </br>
                        trabajoDeGrado.Cod_estudiante4 <br>  </br>}}</th>
                  <th>{{trabajoDeGrado.Cod_jurado1 <br>  </br>
                        trabajoDeGrado.Cod_estudiante2 <br>  </br>
                        trabajoDeGrado.Cod_estudiante3 <br>  </br>}}</th>
                </tr>
                   {% endfor %}
                </table>


      </div>
     </div>
    </div>
    </div>
          </div>
         </div>
          {% else %}
        <div class="col-md-12">
            <div class="alert alert-info">
                No se ha realizado ninguna consulta.
            </div>
        </div>
        {% endif %}
      </section>


</div>