{% extends "plantillas/principal.html" %}
{% block titulo %}Titulo{% endblock %}
{% block nombreU %}{% endblock %}
{% block username %}{% endblock %}
{% block header%}
{% endblock %}
{% block menu %}
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Propuesta</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>

</li>
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Solicitudes
    </span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="estudiantesM.html"><i class="fa fa-circle-o"></i>
            Sustentacion</a></li>
        <li><a href="estudiantesM.html"><i class="fa fa-circle-o"></i>
            Retiro de la propuesta</a></li>
        <li><a href="estudiantesM.html"><i class="fa fa-circle-o"></i>
            Prorroga</a></li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Descargas</span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="estudiantesM.html"><i class="fa fa-circle-o"></i>
            Protocolos</a></li>
    </ul>
</li>

<li>
    <a href="/coordinador/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
</li>
{% endblock %}
{% block contenido %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"> Mi Propuesta</h3>
        <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
    </div>
    </div>

    <div class="box-body">
        {% if propuesta %}
                <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> TITULO</strong>
                <p class="text-muted">
                    {{propuesta.getId_propuesta().getTitulo()}}
                </p>
                <hr>
                <strong><i class="fa fa-map-marker margin-r-5"></i>
                    Director</strong>

                <p class="text-muted">
                    {{propuesta.getId_propuesta().getDirector_trabajo()}}</p>
                <hr>
                <strong><i class="fa fa-pencil margin-r-5"></i>
                    Estudiante</strong>

               <p class="text-muted">
                    {{estudiante.getId_estudiante().getNombres()}}</p>

                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i>
                    Fecha</strong>

                <p>{{propuesta.getId_propuesta().getFecha()}}</p>
            </div>
            <div class="row ">
                <div class="col-md-6 text-right">
                  <a href="estudiante/agregar_estudiante" type=""
                   class="btn btn-block btn-primary btn-flat">
                    Agregar Estudiante
                </a>
                </div>

            </div>
            <!-- /.box-body -->
        {% else %}
        <div class="col-md-12">
            <div class="alert alert-info">
                No tiene Propuesta registrada en el sistema.
            </div>

            <div class="row" style="margin-bottom: 15px">
                <div class=" text-right">
                    <a href="/estudiante/registro_propuesta" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Registrar Propuesta
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}