{% extends "plantillas/principal.html" %}
{% block titulo %}GTG| Home {% endblock %}
{% block nombreU %}{{usuario.getNombres()}}{% endblock %}
{% block username %}{{usuario.getNombres()}}{% endblock %}
{% block informacionU %}
{{usuario.getNombres()}}
{{usuario.getTipoUsuario().getNombre()}}
{% endblock %}
{% block header%}
{% endblock %}
{% block menu %}
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Propuesta</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>

</li>
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Solicitudes
    </span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/estudiante/solicitud/sustentacion"><i
                class="fa fa-circle-o"></i>
            Sustentacion</a></li>
        <li><a href="/estudiante/solicitud/retiro_propuesta"><i
                class="fa fa-circle-o"></i>
            Retiro de la propuesta</a></li>

    </ul>
</li>

<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Descargas</span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="estudiantesM.html"><i class="fa fa-circle-o"></i>
            Protocolos</a></li>
    </ul>
</li>

<li>
    <a href="/estudiante/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
</li>
{% endblock %}
{% block contenido %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"> Mi Propuesta</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool"
                    data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        {% if propuesta %}
        <!-- /.box-header -->
        <div class="box-body">
            <strong><i class="fa fa-book margin-r-5"></i> TITULO</strong>
            <p class="text-muted">
                {{propuesta.getId_propuesta().getTitulo()}}
            </p>
            <hr>
            <strong><i class="fa fa-plus margin-r-5"></i>
                Director de la propuesta</strong>

            <p class="text-muted">
                {{propuesta.getId_propuesta().getDirector_trabajo()}}</p>
            <hr>
            <strong><i class="fa fa-pencil margin-r-5"></i>
                Estudiante</strong>

            <p class="text-muted">
                {{estudiante.getId_estudiante().getNombres()}}</p>

            <hr>
            <strong><i class="fa fa-file-text-o margin-r-5"></i>
                Fecha</strong>

            <p>{{propuesta.getId_propuesta().getFecha()}}</p>
            <hr>
            <strong><i class="fa fa-file-text-o margin-r-5"></i>
                Estado</strong>

            <p>{{propuesta.getEstado()}}</p>
            <hr>
            <strong><i class="fa fa-download margin-r-5"></i>
                Documento</strong>

            <p><a
                    href="/descargar/{{propuesta.getId_propuesta().getDocumentacion()}}/">Descargar
            </a></p>

        </div>
        <div class="row ">
            <div class="text-right">
                <a data-toggle="modal" data-target="#info"
                   type="button"
                   class="btn btn-social  "><p
                        class="fa fa-edit"></p>Agregar Estudiante</a>
            </div>
        </div>
        <div class="modal fade" id="info" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/estudiante/asignar_estudiante" method="POST">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">
                                                Agregar Estudiante</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Codigo"
                                                           name="codigo_estudiante">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Cerrar
                                </button>
                                <button type="submit"
                                        class="btn btn-info pull-right">Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.box-body -->

    </div>
</div>
<div class="row">
    <div class="col-xs-4 ">
        <div class="text-center">
            <a data-toggle="modal" data-target="#fechas"
               type="button"
               class="btn btn-social btn-bitbucket "><p
                    class="fa fa-search-plus"></p>Ver Fechas</a>
        </div>
    </div>
    <div class="modal fade" id="fechas" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Fechas</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="box-group" id="accordion">
                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                            <div class="panel box box-primary">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseOne">
                                                            Fecha Correciones
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne"
                                                     class="panel-collapse collapse in">
                                                    <div class="box-body">
                                                        <a>{{propuesta.getId_propuesta().getFecha_Correcciones()}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel box box-primary">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseOne">
                                                            Fecha Entegrables
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne1"
                                                     class="panel-collapse collapse in">
                                                    <div class="box-body">

                                                        <a></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal">
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class=" text-right">
            <a href="/estudiante/subir/entregables"
               class="btn btn-primary">
                <i class="fa fa-plus"></i> Subir Enregable
            </a>
        </div>
    </div>
    <div>
        <div class=" text-right">
            <a href="/estudiante/subir/correcciones"
               class="btn btn-primary">
                <i class="fa fa-plus"></i> Subir Correciones
            </a>
        </div>
    </div>

</div>
{% else %}
<div class="col-md-12">
    <div class="alert alert-info">
        No tiene Propuesta registrada en el sistema.
    </div>
</div>
<div class="row" style="margin-bottom: 15px">
    <div class=" text-right">
        <a href="/estudiante/registro_propuesta"
           class="btn btn-primary">
            <i class="fa fa-plus"></i> Registrar Propuesta
        </a>
    </div>
</div>
{% endif %}

{% endblock %}
