{% extends "plantillas/principal.html" %}
{% block titulo %}CTG | Descargar-Modificar Acta{% endblock %}
{% block username %}{{usuario.getNombres()}}{% endblock %}
{% block nombreU %}{{usuario.getNombres()}}{% endblock %}
{% block informacionU %}
{{usuario.getNombres()}}
{{usuario.getTipoUsuario().getNombre()}}
{% endblock %}
{% block menu %}
<li class="active treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Gestión Acta</span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="/secretaria/descargar-modificar_acta"><i class="fa fa-circle-o"></i> Descargar/Modificiar Acta</a>
        </li>
        <li><a href="/secretaria/registrar_acta"><i class="fa fa-circle-o"></i> Registrar Acta</a></li>
        <li><a href="/secretaria/consultar_acta"><i class="fa fa-circle-o"></i> Consultar Acta</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Gestión Propuesta</span>
        <span class="label label-primary pull-right"></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/consultar_propuesta"><i class="fa fa-circle-o"></i> Consultar Propuestas</a>
        </li>
        <li><a href="/secretaria/asignar_jurado_propuesta"><i class="fa fa-circle-o"></i> Asignar Jurado en
            Propuesta</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Gestión Trabajo de Grado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/consultar_trabajo_de_grado"><i class="fa fa-circle-o"></i> Consultar Trabajo de
            Grado</a></li>
        <li><a href="/secretaria/agregar_datos_sustentacion"><i class="fa fa-circle-o"></i> Agregar datos
            Sustentación</a></li>
        <li><a href="/secretaria/asignar_jurados_trabajo"><i class="fa fa-circle-o"></i> Asignar Jurado</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Protocolos</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/secretaria/registrar_protocolo"><i class="fa fa-circle-o"></i> Subir Archivo</a></li>
    </ul>
</li>
<li><a href="/secretaria/registar/trabajo_grado"><i class="fa fa-book"></i> <span>Registrar Trabajo de Grado</span></a>
</li>
<li><a href="/secretaria/registrar/jurado"><i class="fa fa-book"></i> <span>Registrar Jurados</span></a>

</li>
<li class="treeview">
    <a href="/secretaria/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
{% endblock %}

<!-- -----------------------------------------------------------------------------------------------  -->

<!--  ------------------------------------------ Cabezera Main ------------------------------------- -->

{% block header %}
<h1>
    Gestion de Acta
    <small>Descarga/Modificar Acta</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Gestion de Acta</a></li>
    <li class="active">Descargar/Modificar Acta</li>
</ol>
{% endblock %}


<!-- -----------------------------------------------------------------------------------------------  -->


<!-- ---------------------------------  CONTENIDO PRINCIPAL  ------------------------------------------------  -->


{% block contenido %}


<div class="row">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Consultas</h3>
        </div>

            <div class="box-body">
                <form action="/secretaria/descargar-modificar_acta" method="POST">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-book"></i></span>
                            <input type="text" class="form-control" placeholder="Titulo" name="titulo" id="titulo">
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Tipo:</label>
                            <select class="form-control" name="tipo" id="tipo" name="tipo">
                                <option><-- No Selected --></option>
                                <option>Comite</option>
                                <option>Sustentacion</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Fecha:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="fecha" name="fecha">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-social btn-bitbucket "><p class="fa fa-search"></p>Consultar
                </button>
                </form>
            </div>

    </div>

</div>
</section>


<div class="row">

    <section class="col-lg-12 connectedSortable">

        {% if actas %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Actas</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Opciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for acta in actas %}
                            <tr>
                                <td>{{acta.getTitulo()}}</td>
                                <td>{{acta.getCodigo()}}</td>
                                <td>{{acta.getFecha()}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/secretaria/modificar/{{acta.getTitulo()}}" method="GET" type="button"
                                           class="btn btn-social btn-bitbucket "><p class="fa fa-edit"></p>Modificar</a>
                                        <button type="button" class="btn btn-bitbucket dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/acta/descargar/{{acta.getTitulo()}}"><p
                                                    class="fa fa-download"></p> Descargar</a></li>
                                        </ul>
                                    </div>

                                </td>

                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Titulo</th>
                                <th>Codigo</th>
                                <th>Fehca</th>
                                <th>Opciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        {% else %}
        <div class="col-md-12">
            <div class="alert alert-info">
                No se ha realizado ninguna consulta.
            </div>
        </div>
        {% endif %}

    </section>


</div>

{% endblock%}


<!-- -----------------------------------------------------------------------------------------------  -->


{% block scripts %}

{% endblock %}
