{% extends "plantillas/principal.html" %}
{% block titulo %}Titulo{% endblock %}
{% block nombreU %}{% endblock %}
{% block username %}{% endblock %}
{% block menu %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Gestión Acta</span> <i
            class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="/secretaria/descargar-modificar_acta"><i class="fa fa-circle-o"></i>
            Descargar/Modificiar Acta</a>
        </li>
        <li><a href="/secretaria/registrar_acta"><i class="fa fa-circle-o"></i> Registrar Acta</a></li>
        <li><a href="/secretaria/consultar_acta"><i class="fa fa-circle-o"></i> Consultar Acta</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Gestión Propuesta</span>
        <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Consultar Propuestas</a>
        </li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Asignar Jurado en
            Propuesta</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Gestión Trabajo de Grado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Consultar Trabajo de
            Grado</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Agregar datos
            Sustentación</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Asignar Jurado</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Registrar Correción
            ,selecciona el trabajo de grado y le asigna las correcciones</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Protocolos</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Subir Archivo</a></li>
    </ul>
</li>
<li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
<li><a href="#"><i class="fa fa-book"></i> <span>Registrar Jurados</span></a>
</li>
<li class="treeview">
    <a href="/secretaria/configuracion">
        <i class="fa fa-pie-cong"></i>
        <span>Configuracion</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
<li class="treeview">
    <a href="/secretaria/registrar/jurado">
        <i class="fa fa-pie-cong"></i>
        <span>Registar Jurado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
<li class="treeview">
    <a href="/secretaria/registar/trabajo_grado">
        <i class="fa fa-pie-cong"></i>
        <span>Registar trabajo de grado</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
</li>
{% endblock %}

<!-- -----------------------------------------------------------------------------------------------  -->

<!--  ------------------------------------------ Cabezera Main ------------------------------------- -->

{% block header %}
<h1>
    Gestion de Acta
    <small>Modificar Acta</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Gestion de Acta</a></li>
    <li class="active">Descargar/Modificar Acta</li>
    <li class="active">Modificar Acta</li>
</ol>
{% endblock %}


<!-- -----------------------------------------------------------------------------------------------  -->


<!-- ---------------------------------  CONTENIDO PRINCIPAL  ------------------------------------------------  -->


{% block contenido %}


<div class="row">

    <section class="col-lg-12 connectedSortable">

        <div class="box box-primary">

            <form action="/secretaria/modificar/{{acta[0].getTitulo()}}" method="POST">

                <div class="box-body">


                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                <input type="text" class="form-control" placeholder="Titulo" name="titulo" id="titulo"
                                       value="{{acta[0].getTitulo()}}">

                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-creative-commons"></i></span>
                                <input type="text" class="form-control" placeholder="Codigo" name="codigo" id="codigo"
                                       value="{{acta[0].getCodigo()}}">
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Tipo:</label>
                                <select class="form-control">
                                    <option><-- No Selected --></option>
                                    <option>Comite</option>
                                    <option>Sustentacion</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Fecha:</label>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="fecha" name="fecha"
                                               value="{{acta[0].getFecha()}}">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- -------- BOX ------------------------------------------ -->


                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Descripcion
                                <small>Simple and fast</small>
                            </h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-info btn-sm" data-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i></button>

                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body pad">
                            <form>
                            <textarea class="textarea" placeholder="Place some text here" name="descripcion"
                                      id="descripcion"
                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{{acta[0].getDescripcion()}}</textarea>
                            </form>
                        </div>
                    </div>


                    <!-- ------------------------------------------------------ -->
                    <br>
                    <div class="form-group">
                        <label for="exampleInputFile">Archivo Acta</label>
                        <input type="file" id="exampleInputFile" name="archivo"> Archivo Actual=
                        {{acta[0].getArchivo()}}"

                        <p class="help-block">Seleccione su archivo de acta para modificar</p>
                    </div>

                    <br>
                    <!-- /input-group -->
                    <div class="box-footer">
                        <button type="#" class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-info pull-right">Modificar</button>
                    </div>

                </div>
            </form>

            <!-- /.box-body -->
        </div>

    </section>


</div>
{% endblock%}


<!-- -----------------------------------------------------------------------------------------------  -->


{% block scripts %}

{% endblock %}

